# macOS metadata
.DS_Store

# Xcode build artifacts
DerivedData/
build/

# Xcode user settings
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane outputs
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Temporary files
*.moved-aside
